body {
    margin: 1em auto;
    background-color: #ffffea;
    max-width: 50em;
    padding: 0.62em;
    font: 1.2em/1.6 sans-serif;
}
header {
    border: 0;
    border-bottom: 3px solid #aaa;
    height: 3px;
}
h1 {
    line-height: 1.2;
}
@media print {
    body {
        max-width: none;
    }
}

h2 {
    
}

h3 {


}

table tr td {
    line-height: 1.5em;
}
tt a {
    background: #ddddea;
    text-decoration: none;
    color: blue;
}
.container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}
.container > * {
    margin: 1em;
}
@media (prefers-color-scheme: dark) {
	body {
    background: #151515 ;
    color: white ;
    max-width: 1000px ;
    margin: auto ;
    padding: 0 16px ;
    font-family: sans-serif ;
}

a {
    color: #39ff14 ;
}

a:visited {
    color: green ;
}

/* Create conditional formatting rules for the main page's social media links*/

}
